# .github/workflows/deploy-uat.yml
# Triggers on push to uat branch and deploys to UAT workspace
name: Deploy to UAT

on:
  push:
    branches:
      - uat
  
  workflow_dispatch:

jobs:
  deploy-to-uat:
    name: Deploy to UAT Workspace
    uses: Himaan1502/Powerbi-Templates/.github/workflows/powerbi-template2.yml@main
    with:
      environment: 'uat'
      branch: 'uat'
      workspace_id: ${{ vars.UAT_WORKSPACE_ID }}
      reports_path: '.'
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
